<div class="about-component">
  <div class="mobile-section"> 
    <div class="pf-image"></div>
    <h2>Hello I'm</h2>
    <h1>Zekaria Bouchama</h1>
    <p>Front-End Developer</p>
    <div class="button-component">
      <button class="cv-button"
      onclick="window.open('../../assets/cv/resume.pdf')"
      >Download CV</button>
      <a href="#Contact" >Contact Me</a>
    </div>
  </div>
  <div class="desktop-about">
    <div class="presentation-component">
      <h1>Hello !</h1>
      <h2>I'm Zekaria Bouchama</h2>
      <p> <span class="desktop-span">a <span>front-end developer</span> crafting</span> <span class="mobile-span">I build</span> interactive web applications with Angular while honing my skills to become a full-stack developer. As a third-year student in software engineering, I am committed to delivering high-quality solutions that exceed client expectations. Join me on a journey to code your next digital masterpiece—let's create something extraordinary together.</p>
    </div>
    
    <div class="education-component">
      <div class="university">
        <i class="fa-solid fa-building-columns"></i>
        <h3>University: </h3>
        <p>Software Engineering</p>
        <p><a target="_blank" href="https://www.polymtl.ca/">École Polytechnique de Montréal
          (Université de Montréal)</a></p>
      </div>
      <div class="loading-dots">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="graduation">
        <i class="fa-solid fa-graduation-cap"></i>
        <h3>Graduation:</h3>
        <p>December 2025</p>
      </div>
    </div>
  </div>
  
</div>

