nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background-color: #f5f5f5;
  margin: 1.2rem 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.35);
}

nav ul {
  margin-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

li {
  list-style: none;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  
}
li a {
  text-decoration: none;
  color: black; 
  transition: all 0.2s ease 0s;
}

li a:hover {
  text-decoration: underline; 
  text-underline-offset: 0.7rem;
  color: #990033; 
  
}

button {
  width: 20%;
  margin-right: 1rem;
  border: none;
  background-color: #80002a;
  letter-spacing: 0.1rem;
  cursor: pointer;
  padding: 14px 10px;
  border-radius: 1.3rem;
  color: white;
  transition: all 0.3s ease 0s;
  text-align: center;
  animation: beatHeart 30s ease-in-out infinite;
  border: #80002a solid 2px
}

button i {
  margin-left: 0.5rem;
  font-size: 1.1rem;
}

button:hover {
  background-color: #f5f5f5;
  color: #80002a;
  border: #80002a solid 2px;
  scale: 1.05;
  font-weight: 900;
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  97% {
    transform: scale(1);
  }
  98% {
    transform: scale(1.1);
  }
  99% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1365px) {
  nav {
    height: 4.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1365px) {
  /* Styles for small desktops/laptops */
  li {
    font-size: 1.1rem;
  }
  button {
    
    scale: 0.9;
    padding: 16px 15px;
    width: 28%;
    margin-right: 0.5rem;
    border-radius: 1.5rem;
  }
  button:hover {
    scale: 0.95;
  }
  
}

