<div class="projects-component">
  <div class="header">
    <h1>My projects</h1>
    <p>University life is <span>more than just studying!</span> Here are a few of the projects I have been involved with. <span>Click on a picture</span> to show more details. </p>
  </div>
  <div class="projects-list">
    <flip-card id="project1">
      <flip-card-front class="project1 front-card">
        <h2>Doctor Management <span>Web app</span></h2>
        <div class="image-project-container">
          <img src="../../assets/images/projetHopital.jpg" alt="">
          
        </div>
      </flip-card-front>
      <flip-card-back class="back-card">
        <div class="back-card-body">
          <p>
            I've developed a full-stack web application leveraging <span>Angular, Node.js, Express, and PostgreSQL</span>  for efficient doctor management in hospitals. Users can easily view, add, edit, and delete doctor records, streamlining data upkeep.</p>
        </div>
        <div class="link-code"
              (click)="redirectToGithub($event,'https://github.com/zakibhm/hostpital_webapp')">
          <p>Explore the Project :</p>
          <i  class="fa-brands fa-github"></i>
        </div>
      </flip-card-back>
    </flip-card>
    <flip-card id="project2">
      <flip-card-front class="project2 front-card">
        <h2>Listening Music <span>Web app</span></h2>
        <div class="image-project-container">
          <img src="../../assets/images/projetReactMac2.jpg" alt="">
          
        </div>
      </flip-card-front>
      <flip-card-back class="back-card">
        <div class="back-card-body">
          <p>
            I've developed a Music listening web application using <span>React, MongoDB, Express and Node.js</span>. This application enables users to explore a collection of songs while providing functionalities to create, modify, and delete playlists.</p>
        </div>
        <div class="link-code"
        (click)="redirectToGithub($event,'https://github.com/zakibhm/poly_music')">
          <p>Explore the Project :</p>
          <i  class="fa-brands fa-github"></i>
        </div>
      </flip-card-back>
    </flip-card>
    <flip-card id="project3">
      <flip-card-front class="project3 front-card">
        <h2>line-following <span>Robot</span></h2>
        <div class="image-project-container">
          <img src="../../assets/images/projetRobot2.jpg" alt="">
        </div>
      </flip-card-front>
      <flip-card-back class="back-card">
        <div class="back-card-body">
          <p>I've built a line-following robot that had to run through an obstacle course, using <span>C and C++</span>. </p>     
        </div>
        <div class="link-code"
        (click)="redirectToGithub($event,'https://github.com/zakibhm/INF1900')">
          <p>Explore the Project :</p>
          <i  class="fa-brands fa-github"></i>
        </div>
      </flip-card-back>
    </flip-card>
    <flip-card id="project4">
      <flip-card-front class="project4 front-card">
        <h2>School Website <span>Redesign Prototype</span></h2>
        <div class="image-project-container">
          <img src="../../assets/images/projetFigma.jpg" alt="">
          
        </div>
      </flip-card-front>
      <flip-card-back class="back-card">
        <div class="back-card-body">
          <p>I have created a new modern and user-friendly <span>prototype</span> for our school website using <span>Figma</span>, focusing on enhancing user experience, accessibility, and integration of new features used daily by students.</p>      
        </div>
      </flip-card-back>
    </flip-card>
    <flip-card id="project5">
      <flip-card-front class="project4 front-card">
        <h2>2D Room exploarion <span>Terminal game</span></h2>
        <div class="image-project-container">
          <img src="../../assets/images/projetGame.jpg" alt="">
        </div>
      </flip-card-front>
      <flip-card-back class="back-card">
        <div class="back-card-body">
          <p>Leveraging <span>C++</span>, I created a text-based adventure game featuring an interconnected network of rooms to explore. Players navigate through these chambers, encountering diverse items and engaging in interactive experiences.</p>        
        </div>
        <div (click)="redirectToGithub($event,'https://github.com/zakibhm/INF1015_PROJECT/')"
        class="link-code">
          <p>Explore the Project :</p>
          <i  class="fa-brands fa-github"></i>
        </div>
      </flip-card-back>
    </flip-card>
    <flip-card id="project6">
      <flip-card-front class="project6 front-card">
        <h2>Sobel image filter <span>Java programme</span></h2>
        <div class="image-project-container">
          <img src="../../assets/images/projetSobel.jpg" alt="">
        </div>
      </flip-card-front>
      <flip-card-back class="back-card">
        <div class="back-card-body">
          <p>I've developed a <span>Java client/server program</span> for image processing using <span>socket communication</span>. The client sends images to the server for applying a Sobel filter and receives the filtered images back.</p>        
        </div>
        <div class="link-code"
        (click)="redirectToGithub($event,'https://github.com/zakibhm/Java-Sobel-Filter-Image')">
          <p>Explore the Project :</p>
          <i class="fa-brands fa-github"></i>
        </div>
      </flip-card-back>
    </flip-card>

    <flip-card id="project7">
      <flip-card-front class="project7 front-card">
        <h2>Shopping store <span>Web app</span></h2>
        <div class="image-project-container">
          <img src="../../assets/images/projetOshop.jpg" alt="">
        </div>
      </flip-card-front>
      <flip-card-back class="back-card">
        <div class="back-card-body">
          <p>I've built a full-stack web application for a grocery store using <span>Angular</span>, and <span>Firebase Service</span> for the backend, providing users with a seamless and responsive platform for managing their grocery needs.</p>  
        </div>      
          <div class="link-code"
          (click)="redirectToGithub($event,'https://github.com/zakibhm/oshop')">
            <p>Explore the Project :</p>
            <i class="fa-brands fa-github"></i>
          </div>
          <div class="project-url">
            <a href="https://oshop-61f2a.web.app/" target="_blank">website URL</a>
            <i class="fa-solid fa-link"></i>
          </div>
      </flip-card-back>
    </flip-card>
    <flip-card id="project8">
      <flip-card-front class="project8 front-card">
        <h2>game-based  <span>learning platform</span></h2>
        <div class="image-project-container">
          <img src="../../assets/images/projetKahoot.jpg" alt="">
        </div>
      </flip-card-front>
      <flip-card-back class="back-card">
        <div class="back-card-body">
          <p>Design of an interactive quiz web application with a team of six, based on <span>Angular</span>, <span>Nest.js</span>, <span>Socket.io</span>, and <span>MongoDB</span>. This innovative project allows participants to create game sessions, join others' sessions, and engage in live playful interactions, thereby promoting dynamic and collaborative learning.</p>  
        </div>      
          <div class="link-code"
          (click)="redirectToGithub($event,'https://github.com/zakibhm/polyHoot')">
            <p>Explore the Project :</p>
            <i class="fa-brands fa-github"></i>
          </div>
          <div class="project-url">
            <a href="https://polytechnique-montr-al.gitlab.io/log2990/20241/equipe-211/LOG2990-211/#/home" target="_blank">website URL</a>
            <i class="fa-solid fa-link"></i>
          </div>
      </flip-card-back>
    </flip-card>
  
  </div>
</div>

