<div class="contact-container">
  <h1>CONTACT ME</h1>
  <p class="message">I would love to know more about you and how I can help your business meet its goals. You can reach me via email or take a look at my other social networks:</p>
  <div class="contact-links">
    <div class="link">
      <div class="link-container">
        <p>Email</p>
        <i class="fa-regular fa-envelope"><a href="mailto:zekaria.bouchama@gmail.com"></a></i>
      </div>

    </div>
    <div (click)="navigateToLink('https://github.com/zakibhm')" class="link">
      <div class="link-container">
        <p>GitHub</p>
        <i  class="fa-brands fa-github"></i>
      </div>
    </div>
    <div (click)="navigateToLink('https://www.linkedin.com/in/bouchama-zekaria-52267322a/')"    class="link">
      <div class="link-container">
        <p>LinkedIn</p>
        <i  class="fa-brands fa-linkedin"></i>
    </div>
    </div>
  </div>
</div>
