<div class="skills-container">
  <h1>My skills</h1>

  <div class="skills-section">
      <div class="skill-category-container">
        <h2>OOP</h2>
        <div class="skills-list">
          <p>Python, C/C++, Java</p>
        </div>
      </div>
      <div class="skill-category-container">
        <h2>Front-End Development</h2>
        <div class="skills-list">
          <p>Angular, Typescript, HTML/CSS, Bootstrap</p>
        </div>
      </div>
      <div class="skill-category-container">
        <h2>Back-End Development</h2>
        <div class="skills-list">
          <p>Node.js, Express, MongoDB, PostgreSQL, Firebase Services</p>
      </div>
      </div>
      <div class="skill-category-container">
        <h2>Project Management</h2>
        <div class="skills-list">
          <p>Git, GitHub</p>
      </div>
    </div>
    
    <div class="skill-category-container">
      <h2>Soft Skills</h2>
      <div class="skills-list">
        <p>Teamwork, Communication, Adaptability, Problem-Solving, Listening ...
        </p>
    </div>
    </div>
  </div>
</div>